.firstSection {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

.searchSection {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    max-width: 578px;
}

.searchSectionInput {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 15px 5px rgba(100, 100, 100, 0.171);
    padding-left: 65px;
}

.searchSectionInput::placeholder {
    opacity: .4;
    font-family: 'Nunito Sans';
}

.searchSectionInput:focus {
    outline: none;
}

.searchSectionIcon {
    position: absolute;
    left: 40px;
    opacity: .4;
}

.searchSectionDark {
    background-color: hsl(208, 24%, 33%);
    transition: ease-in-out .3s;
}

.searchSectionDark::placeholder {
    color: white;
    opacity: 1;
}

.searchSectionLight {
    background-color: hsl(0, 0%, 100%);
}

.searchSectionIconLight {
    opacity: 1;
    fill: white;
}

.filterSection {
    display: flex;
    margin-top: 30px;
    width: 90%;
    max-width: 578px;
    justify-content: flex-start;
}

.filterSectionDropdown {
    height: 50px;
    width: 70%;
    border: none;
    padding: 0 15px;
    font-family: 'Nunito Sans';
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(119, 119, 119, 0.1);
    max-width: 250px;
}

.filterSectionDropdown:focus {
    outline: none;
}

.filterSectionDropdownDark {
    background-color: hsl(208, 24%, 33%);
    color: white;
    transition: ease-in-out .3s;
}

.secondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .firstSection {
        padding: 0px 45px;
    }

    .searchSectionIcon {
        left: 70px;
    }

    .secondSection {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 45px;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1440px) {
    .firstSection {
        padding: 0px 80px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .secondSection {
        padding: 0 80px;
    }

    .filterSection {
        margin-top: 0;
        justify-content: flex-end;
    }

    .searchSectionInput {
        height: 60px;
    }

    .searchSectionIcon {
        left: 110px;
    }

    .searchSectionInput::placeholder {
        font-size: 16px;
    }
}